## 파이썬 데이터베이스 연동(SQLite)
- 테이블 생성 및 삽입

In [2]:
import sqlite3
print('sqlite3.version:', sqlite3.version)   #버전확인
print('sqlite3.sqlite_version:', sqlite3.sqlite_version)

sqlite3.version: 2.6.0
sqlite3.sqlite_version: 3.27.2

In [3]:
#삽입 날짜 생성
import datetime
now=datetime.datetime.now()
print('now:',now)

nowDatetime=now.strftime('%Y-%m-%d %H:%M:%S')
print('nowDatetime:', nowDatetime)

now: 2019-06-27 14:05:54.419268
nowDatetime: 2019-06-27 14:05:54

In [4]:
# DB 생성 & Auto Commit (Rollback)
conn = sqlite3.connect('./database2.db',isolation_level=None)

In [5]:
# Cursor
c=conn.cursor()
print('Cursor Type:',type(c))

Cursor Type: <class 'sqlite3.Cursor'>

In [14]:
#테이블 생성(Data type: TEXT, NUMERIC, INTEGER정수, REAL, BLOB)
c.execute("CREATE TABLE IF NOT EXISTS users(id INTEGER PRIMARY KEY, username text, email text, phone text, website text, regdate text )")

In [15]:
#데이터 삽입
conn = sqlite3.connect('./database2.db',isolation_level=None)
c=conn.cursor()
c.execute("INSERT INTO users VALUES(1, 'Kim','Kim@naver.com','010-1345-6544', 'kim.com',?)",(nowDatetime,))   #물음표는 뒤에 튜플추가하면 됨

In [16]:
#데이터 삽입 2번째 방법
c.execute("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)", (2, 'park','park@daum.net','010-4444-3333','park.com',nowDatetime))

In [17]:
#Many 삽입(튜플, 리스트)
userList = (
    (3, 'lee','lee@naver.com','010-2222-3333','lee.com',nowDatetime),
    (4,'cho', 'cho@daum.net','010-333-2222','cho.com',nowDatetime))

c.executemany("INSERT INTO users(id, username, email, phone, website, regdate) VALUES(?,?,?,?,?,?)",userList)

In [13]:
#테이블 데이터 삭제
#conn.execute("DELETE FROM users")
#print("users db deleted : ", conn.execute("DELETE FROM users").rowcount)

In [ ]:
# 커밋: isolation_level = None 일 경우 자동 반영으로 커밋

In [22]:
#1개 로우 선택
c.execute("SELECT * FROM users")
print('One->\n', c.fetchone())

One->
 (1, 'Kim', 'Kim@naver.com', '010-1345-6544', 'kim.com', '2019-06-27 14:05:54')

In [23]:
#지정 로우 선택
c.execute("SELECT * FROM users")
print("Three -> \n", c.fetchmany(size=3))

Three ->
 [(1, 'Kim', 'Kim@naver.com', '010-1345-6544', 'kim.com', '2019-06-27 14:05:54'), (2, 'park', 'park@daum.net', '010-4444-3333', 'park.com', '2019-06-27 14:05:54'), (3, 'lee', 'lee@naver.com', '010-2222-3333', 'lee.com', '2019-06-27 14:05:54')]

In [24]:
#전체 로우 선택
c.execute("SELECT * FROM users")
print('All ->\n', c.fetchall())

All ->
 [(1, 'Kim', 'Kim@naver.com', '010-1345-6544', 'kim.com', '2019-06-27 14:05:54'), (2, 'park', 'park@daum.net', '010-4444-3333', 'park.com', '2019-06-27 14:05:54'), (3, 'lee', 'lee@naver.com', '010-2222-3333', 'lee.com', '2019-06-27 14:05:54'), (4, 'cho', 'cho@daum.net', '010-333-2222', 'cho.com', '2019-06-27 14:05:54')]

In [27]:
#순회1
c.execute("SELECT * FROM users")
rows=c.fetchall()
for row in rows:
    print('retrieve1 >', row)

#방법2
#for row in c.fetchall():
#    print('retrieve2>',row)

#방법3
#for row in c.execute('SELECT*FROM users ORDER BY id desc'):
#    print('retrieve3>',row)

retrieve1 > (1, 'Kim', 'Kim@naver.com', '010-1345-6544', 'kim.com', '2019-06-27 14:05:54')
retrieve1 > (2, 'park', 'park@daum.net', '010-4444-3333', 'park.com', '2019-06-27 14:05:54')
retrieve1 > (3, 'lee', 'lee@naver.com', '010-2222-3333', 'lee.com', '2019-06-27 14:05:54')
retrieve1 > (4, 'cho', 'cho@daum.net', '010-333-2222', 'cho.com', '2019-06-27 14:05:54')

In [37]:
#WHERE Retrieve1 -----3번째열 데이터만 튜플로 가져오기
param1 = (2,) #--튜플로, 쉼표로 구분해서 가져옴

c.execute ('SELECT* FROM users WHERE id=?', param1)
print('param1',c.fetchone())

param1 (2, 'park', 'park@daum.net', '010-4444-3333', 'park.com', '2019-06-27 14:05:54')

In [39]:
#튜플 말고 인티저로 바인딩

param2 = 3
c.execute ('SELECT* FROM users WHERE id="%s"' % param2)
print('param2',c.fetchone())

param2 (3, 'lee', 'lee@naver.com', '010-2222-3333', 'lee.com', '2019-06-27 14:05:54')

In [48]:
#딕셔너리로 가져오기

c.execute ('SELECT* FROM users WHERE id=:Id',{"Id":3})
print('param3',c.fetchone())

param3 (3, 'lee', 'lee@naver.com', '010-2222-3333', 'lee.com', '2019-06-27 14:05:54')

In [51]:
#여러개 가져오기

param4 = (1,2)
c.execute ("SELECT* FROM users WHERE id IN(?,?)",param4)
print('param4',c.fetchall())

param4 [(1, 'Kim', 'Kim@naver.com', '010-1345-6544', 'kim.com', '2019-06-27 14:05:54'), (2, 'park', 'park@daum.net', '010-4444-3333', 'park.com', '2019-06-27 14:05:54')]