In [1]:
print("hello world")

hello world

In [2]:
print('hello')

hello

In [3]:
print("""hello""")

hello

## markdown

In [4]:
print('t','e','s','t')

t e s t

In [5]:
print('t','e',sep='')

te

In [6]:
print('mayu1989','naver.com',sep='@')

mayu1989@naver.com

In [51]:
print('fastcampus','gmail.com',sep='@')

fastcampus@gmail.com

In [74]:
print('2019','06','13', sep='-')

2019-06-13

In [7]:
print('welcome', end='')

welcome

In [50]:
print('to', end='')

to

In [10]:
print('{} and {}'.format('you', 'me'))

you and me

In [11]:
print("{a} are {b}".format(a='you', b='me'))

you are me

In [13]:
print("%s's favorite number is %d" % ('Minah', 1))

Minah's favorite number is 1

In [14]:
# $s 문자 $d 정수 %f 실수

In [22]:
print("test1: %5d, price: %4.2f" % (776, 6534.123))
#5자리 정수

test1:   776, price: 6534.12

In [21]:
print("test1: {0: 5d}, price:{1: 4.2f}".format(776, 6534.123))

test1:   776, price: 6534.12

In [24]:
print("test1: {a: 5d}, price:{b: 4.2f}".format(a=776, b=6534.123))

test1:   776, price: 6534.12

In [41]:
print("'you'")
print('"you"')
print('\'you\'')
print('\'you')
#작은따옴표 표시

'you'
"you"
'you'
'you

In [39]:
print('안녕하세요. 제 이름은 "김민수" 입니다.')

안녕하세요. 제 이름은 "김민수" 입니다.

In [42]:
print("{q}와 {b} 입니다.".format(q="사과", b="배"))

사과와 배 입니다.

In [44]:
print('{0} and {0} and {0}'.format('You', 'Me'))

You and You and You

In [45]:
print("Test: %5d, Price: %4.1f" % (158, 6534.123))

Test:   158, Price: 6534.1

In [46]:
print('\\you\\')

\you\

In [48]:
print("'Hello'")

'Hello'

In [49]:
print('"Hello"')

"Hello"

In [60]:
print("{q}님의 {w}번째 방문을 환영합니다" .format(q="{a}", w="{b}"))

{a}님의 {b}번째 방문을 환영합니다

In [70]:
    print("3.141592를 정수단위로 반올림한 숫자는 %1d입니다." %(3.141592))

3.141592를 정수단위로 반올림한 숫자는 3입니다.

In [75]:
print(round(3.4))

3

In [112]:
print("%-30.3f" %(3333333.141592))

3333333.142

In [85]:
print("{:2f}".format(3333333.141592))

3333333.14

In [94]:
rPrice=100000
dPrice=80000
print("%.2f" %(dPrice/rPrice))

0.80

In [113]:
print("%-10d" %(333))

333

In [118]:
print("%010d" %(333))

0000000333